# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Streamlit
.streamlit/

# Docker
.docker/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
*.swp

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log

# Test coverage
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/

.hypothesis/