# Other fikles
data/
[internal]
=
CACHED
transfering
writing
exporting
naming
.vscode/
.env
*.env
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Poetry
poetry.lock

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~

# Operating system files
.DS_Store
Thumbs.db

# Docker
.docker/

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
*~.nib
local.properties

# Project specific
*.zip
output/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Sensitive or environment-specific files
*.env.*
*.pem
*.key
secrets.yaml
# Large files or datasets
*.csv
*.json
*.pkl
*.h5

# Ignore all .a files
*.a

# But do track lib.a, even though you're ignoring .a files above
!lib.a

# Ignore all files in any directory named temp
temp/

.deepeval_telemtry.txt
report.html
logs/
.hypothesis/
project_tree.txt